/* src/styles/colors.css */
@import "./primitives.css";

/* Light mode (default) */
:root {
    /* Base */
    --bg-page: var(--white);
    --bg-default: var(--neutral-5);
    --bg-default-hover: var(--neutral-10);
    --bg-secondary: var(--neutral-10);
    --bg-secondary-hover: var(--neutral-20);

    --text-primary: var(--neutral-115);
    --text-subtle: var(--neutral-60);
    --text-alt: var(--neutral-5);

    --accent-primary: var(--neutral-115);
    --accent-primary-hover: var(--neutral-80);

    --border-subtle: var(--neutral-10);
    --border-hover: var(--neutral-115);


    /* Blue */
    --text-blue: var(--blue-90);

    --bg-blue: var(--blue-10);
    --bg-blue-hover: var(--blue-20);


    /* Indigo */
    --text-indigo: var(--indigo-80);

    --bg-indigo: var(--indigo-10);
    --bg-indigo-hover: var(--indigo-20);


    /* Orange */
    --text-orange: var(--orange-90);

    --bg-orange: var(--orange-10);
    --bg-orange-hover: var(--orange-20);


    /* Council Blue */
    --text-council-blue: var(--council-blue-70);

    --bg-council-blue: var(--council-blue-10);
    --bg-council-blue-hover: var(--council-blue-20);
}

/* dark mode overrides */
[data-theme="dark"] {
    /* Base */
    --bg-page: var(--neutral-115);
    --bg-default: var(--neutral-100);
    --bg-default-hover: var(--neutral-90);
    --bg-secondary: var(--neutral-80);
    --bg-secondary-hover: var(--neutral-60);

    --text-primary: var(--neutral-5);
    --text-subtle: var(--neutral-30);
    --text-alt: var(--neutral-115);

    --accent-primary: var(--neutral-10);
    --accent-primary-hover: var(--neutral-20);

    --border-subtle: var(--neutral-70);
    --border-hover: var(--neutral-40);


    /* Blue */
    --text-blue: var(--blue-30);

    --bg-blue: var(--blue-110);
    --bg-blue-hover: var(--blue-90);


    /* Indigo - Needs Updating*/
    --text-indigo: var(--indigo-30);

    --bg-indigo: var(--indigo-110);
    --bg-indigo-hover: var(--indigo-90);


    /* Orange */
    --text-orange: var(--orange-40);

    --bg-orange: var(--orange-110);
    --bg-orange-hover: var(--orange-100);


    /* Council Blue */
    --text-council-blue: var(--council-blue-30);

    --bg-council-blue: var(--council-blue-100);
    --bg-council-blue-hover: var(--council-blue-80);
}


html.theme-transitioning *,
html.theme-transitioning *::before,
html.theme-transitioning *::after {
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease !important;
}