/* src/styles/colors.css */
@import "./primitives.css";

/* Light mode (default) */
:root {
    /* Base */
    --bg-page: var(--white);
    --bg-default: var(--neutral-5);
    --bg-default-hover: var(--neutral-10);
    --bg-secondary: var(--neutral-10);
    --bg-secondary-hover: var(--neutral-20);

    --text-primary: var(--neutral-115);
    --text-subtle: var(--neutral-60);
    --text-alt: var(--neutral-5);

    --accent-primary: var(--neutral-115);
    --accent-primary-hover: var(--neutral-80);

    --border-subtle: var(--neutral-10);
    --border-hover: var(--neutral-115);


    /* Blue */
    --text-blue: var(--blue-90);

    --bg-blue: var(--blue-10);
    --bg-blue-hover: var(--blue-20);


    /* Indigo */
    --text-indigo: var(--indigo-80);

    --bg-indigo: var(--indigo-10);
    --bg-indigo-hover: var(--indigo-20);


    /* Orange */
    --text-orange: var(--orange-90);

    --bg-orange: var(--orange-10);
    --bg-orange-hover: var(--orange-20);


    /* Council Blue */
    --text-council-blue: var(--council-blue-90);

    --bg-council-blue: var(--council-blue-10);
    --bg-council-blue-hover: var(--council-blue-20);
}

/* dark mode overrides */
[data-theme="dark"] {
    --bg-page: ;
    --bg-surface: ;
    --bg-hover: ;

    --text-primary: ;
    --text-secondary: ;
    --text-muted: ;

    --accent-primary: ;
    --accent-primary-hover: ;

    --border-subtle: ;
}