/* src/styles/colors.css */
@import "./primitives.css";

/* Light mode (default) */
:root {
    --bg-page: var(--white);
    --bg-default: var(--neutral-5);
    --bg-default-hover: var(--neutral-10);
    --bg-secondary: var(--neutral-10);
    --bg-secondary-hover: var(--neutral-20);

    --text-primary: var(--neutral-115);
    --text-subtle: var(--neutral-60);
    --text-alt: var(--neutral-5);

    --accent-primary: var(--neutral-115);
    --accent-primary-hover: var(--neutral-80);

    --border-subtle: var(--neutral-10);
    --border-hover: var(--neutral-115);
}

/* dark mode overrides */
[data-theme="dark"] {
    --bg-page: ;
    --bg-surface: ;
    --bg-hover: ;

    --text-primary: ;
    --text-secondary: ;
    --text-muted: ;

    --accent-primary: ;
    --accent-primary-hover: ;

    --border-subtle: ;
}