/* src/styles/primitives.css */
:root {

    /* White & Black */
    --white: #fff;
    --black: #000;

    /* Neutral scale */
    --neutral-5: #E6E6E6;
    --neutral-10: #CCCCCC;
    --neutral-20: #B2B2B2;
    --neutral-30: #999999;
    --neutral-40: #808080;
    --neutral-50: #686868;
    --neutral-60: #555555;
    --neutral-70: #4C4C4C;
    --neutral-80: #404040;
    --neutral-90: #333333;
    --neutral-100: #262626;
    --neutral-110: #1A1A1A;
    --neutral-115: #131313;


    /* Blue */
    --blue-5: #DFE9FD;
    --blue-10: #BDD3FA;
    --blue-20: #9DBDF8;
    --blue-30: #7CA7F6;
    --blue-40: #5C91F4;
    --blue-50: #3D7CF2;
    --blue-60: #256CF0;
    --blue-70: #2160D6;
    --blue-80: #1C51B4;
    --blue-90: #164190;
    --blue-100: #11316C;
    --blue-110: #0B2148;
    --blue-115: #081835;


    /* Indigo */
    --indigo-5: #E5DFFD;
    --indigo-10: #CABDFA;
    --indigo-20: #B19DF8;
    --indigo-30: #977CF6;
    --indigo-40: #7D5CF4;
    --indigo-50: #643DF2;
    --indigo-60: #5125F0;
    --indigo-70: #4821D6;
    --indigo-80: #3D1CB4;
    --indigo-90: #311690;
    --indigo-100: #25116C;
    --indigo-110: #180B48;
    --indigo-115: #120835;


    /* Orange */
    --orange-5: #FDEBDF;
    --orange-10: #FAD7BD;
    --orange-20: #F8C39D;
    --orange-30: #F6AF7C;
    --orange-40: #F49B5C;
    --orange-50: #F2893D;
    --orange-60: #F07A25;
    --orange-70: #D66D21;
    --orange-80: #B45B1C;
    --orange-90: #904916;
    --orange-100: #6C3711;
    --orange-110: #48250B;
    --orange-115: #351B08;


    /* Council Blue */
    --council-blue-5: #D9E8F0;
    --council-blue-10: #B2D0E1;
    --council-blue-20: #8CB8D2;
    --council-blue-30: #66A1C3;
    --council-blue-40: #3D88B3;
    --council-blue-50: #1971A5;
    --council-blue-60: #00629B;
    --council-blue-70: #00578A;
    --council-blue-80: #004974;
    --council-blue-90: #003B5D;
    --council-blue-100: #002C46;
    --council-blue-110: #001E2F;
    --council-blue-115: #001622;

}